.container {
    background-color: var(--dark-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: var(--black-blue);
    width: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.content h1{
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
 .content p {
    color: var(--hover-white);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-top: 16px;
    width: 212px;
}

